<section id="portafolio" class="py-20 bg-gray-50 px-4 text-center">
  <h2 class="text-3xl font-bold mb-12">Portafolio</h2>
  <div class="grid md:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://avalosesqueda.com/"
        target="_blank"
        class="block w-full h-40 mb-4 rounded bg-[url('../assets/imgs/avalosesqueda-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3s] hover:bg-bottom cursor-pointer"
      >
      </a>
      <h3 class="text-lg font-semibold">Avalos Esqueda</h3>
      <a
        href="https://avalosesqueda.com/"
        target="_blank"
        class="text-blue-600 underline text-sm">avalosesqueda.com</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://aranmexdiesel.com.mx/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/aranmexdiesel-mx-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3.5s] hover:bg-bottom mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">Aranmex Diesel</h3>
      <a
        href="https://aranmexdiesel.com.mx/"
        target="_blank"
        class="text-blue-600 underline text-sm">aranmexdiesel.com.mx</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://industrial.gugainmobiliaria.com/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/industrial-gugainmobiliaria-axis-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3s] hover:bg-bottom cursor-pointer mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">Guga Industrial</h3>
      <a
        href="https://industrial.gugainmobiliaria.com/"
        target="_blank"
        class="text-blue-600 underline text-sm"
        >industrial.gugainmobiliaria.com</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://ahorro.gabrielsanchezromero.com/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/ahorro-gabrielsanchezromero-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3s] hover:bg-bottom cursor-pointer mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">Gabriel Sánchez Ahorro</h3>
      <a
        href="https://ahorro.gabrielsanchezromero.com/"
        target="_blank"
        class="text-blue-600 underline text-sm"
        >ahorro.gabrielsanchezromero.com</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://mueblesfusion.com/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/mueblesfusion-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3s] hover:bg-bottom cursor-pointer mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">Muebles Fusión</h3>
      <a
        href="https://mueblesfusion.com/"
        target="_blank"
        class="text-blue-600 underline text-sm">mueblesfusion.com</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://abogadosespecialistasmx.com/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/abogadosespecialistasmx-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3s] hover:bg-bottom cursor-pointer mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">Abogados Especialistas</h3>
      <a
        href="https://abogadosespecialistasmx.com/"
        target="_blank"
        class="text-blue-600 underline text-sm">abogadosespecialistasmx.com</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://dcomuebles.com/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/dcomuebles-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3s] hover:bg-bottom cursor-pointer mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">DCO Muebles</h3>
      <a
        href="https://dcomuebles.com/"
        target="_blank"
        class="text-blue-600 underline text-sm">dcomuebles.com</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://www.mocoallure.com.mx/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/mocoallure-mx-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[4.5s] hover:bg-bottom cursor-pointer mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">Mocoallure</h3>
      <a
        href="https://www.mocoallure.com.mx/"
        target="_blank"
        class="text-blue-600 underline text-sm">www.mocoallure.com.mx</a
      >
    </div>
    <div class="bg-white p-4 border rounded-xl shadow">
      <a
        href="https://www.bosquelasvigas.com/"
        target="_blank"
        class="block w-full h-40 bg-[url('../assets/imgs/bosquelasvigas-2025-04-17.webp')] bg-cover bg-top transition-all ease-linear duration-[3s] hover:bg-bottom cursor-pointer mb-4 rounded"
      >
      </a>
      <h3 class="text-lg font-semibold">Bosque Las Vigas</h3>
      <a
        href="https://www.bosquelasvigas.com/"
        target="_blank"
        class="text-blue-600 underline text-sm">www.bosquelasvigas.com</a
      >
    </div>
  </div>
</section>
