<section id="sobremi" class="py-20 bg-gray-50 px-4 text-center">
  <h2 class="text-3xl font-bold mb-6">Sobre mí</h2>
  <div class="max-w-2xl mx-auto mb-6">
    <div
      class="w-40 h-40 mx-auto bg-[url('../assets/mi-foto.webp')] bg-center bg-cover rounded-full mb-4"
    >
    </div>
    <p class="mb-4">
      Soy Carlos Eduardo Martínez Alvarado, Diseñador y Desarrollador Web con
      más de 5 años de experiencia creando sitios funcionales, modernos y
      optimizados.
    </p>
    <p>
      Trabajo con código puro (HTML, CSS, JS), frameworks y librerías como
      Tailwind y React, así como CMS como WordPress y Shopify. Me apasiona
      construir experiencias digitales que realmente conecten con el usuario.
    </p>
  </div>
</section>
