---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-21D3ET3221"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-21D3ET3221");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio | Carlos Martínez</title>

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="Diseñador y Desarrollador Web con más de 5 años de experiencia. Sitios web con código puro, frameworks o CMS como WordPress y Shopify."
    />
    <meta name="author" content="Carlos Eduardo Martínez Alvarado" />
    <meta
      name="keywords"
      content="diseñador web, desarrollador web, sitios web, WordPress, Shopify, desarrollo a medida, SEO, mantenimiento web, freelance México"
    />

    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="font-sans bg-white text-gray-800 select-none">
    <a
      href="https://wa.me/523321885179?text=Hola,%20estoy%20interesado%20en%20una%20cotizaci%C3%B3n%20para..."
      target="_blank"
      class="fixed bottom-4 right-4 z-50 rounded-full shadow-lg hover:shadow-xl transition-all duration-300 hover:scale-110"
      ><img
        src="/src/assets/icon-whatsapp.svg"
        alt="Enviar WhatsApp"
        class="w-16 h-16 md:w-20 md:h-20"
      /></a
    >
    <Header />
    <slot />
    <Footer />

    <script
      src="https://cdn.jsdelivr.net/npm/emailjs-com@3.2.0/dist/email.min.js"
    ></script>
  </body>
</html>
